.image-container {
  position: relative;
  display: inline-block;
  user-select: none;
}

.image {
  pointer-events: none;
  user-select: none;
}

.crosshair-icon {
  position: absolute;
  cursor: pointer;
}


.crosshair-icon.in-status {
  fill: green; /* Color for IN status */
}

.crosshair-icon.out-status {
  fill: red; /* Color for OUT status */
}

.selection-rectangle {
  position: absolute;
  border: 1px dashed blue;
  background-color: rgba(0, 0, 255, 0.2);
}
