<div class="image-container"
     *ngIf="imageSrc"
     (mousedown)="startSelection($event)"
     (mousemove)="updateSelection($event)"
     (mouseup)="endSelection()">
  <img class="image" [src]="imageSrc" alt="Uploaded image">
  <div *ngFor="let point of points"
       class="crosshair-icon"
       [class.in-status]="point.status === Status.IN"
       [class.out-status]="point.status === Status.OUT"
       [style.left.px]="point.x - 5"
       [style.top.px]="point.y - 5"
       [ngStyle]="{'opacity': pointOpacity}"
       (click)="changeStatus(point)">

    <!-- source: https://www.svgrepo.com/svg/136186/crosshair -->
    <svg xmlns="http://www.w3.org/2000/svg"
         x="0px" y="0px"
         width="20px" height="20px"
         id="Capa_1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
      <path stroke-width="5"  d="m21 3.998c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-16.5.5h15v15h-15zm6.75 6.752h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/>
</svg>

  </div>
  <div *ngIf="selecting" class="selection-rectangle" [ngStyle]="getSelectionStyle()"></div>
</div>
